body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background: rgb(249, 249, 249);
}


.header{
    width: 100%;
    display: flex;
}
/*.header:hover{
    background: white;
    box-shadow: 0 -9px 46px 22px #d5d5d5ad;
    transition: background, box-shadow .8s;
}*/

.header .mobileMenu{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}
.header .mobileMenu .hamburger{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.header .mobileMenu .hamburger .icon{
    margin-left: 35px;
    width: 10%;
    display: none;
    margin-top: 3px;
}
.header .mobileMenu .hamburger .icon .line{
    background: #191a1d;
    width: 22px;
    height: 2px;
    margin: 6px auto;
}
.header .mobileLogo{
    display: none;
    width: 80%;
    margin-left: 10px;
    text-align: center;

}
.header .mobileLogo img{
    width: 120px;
}
.header .mobileMenu .menu{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 40px;
    text-align: center;
    padding: 40px 0 45px 0;
    width: 100%;
}
.header .mobileMenu .menu .menuLeft{
    width: 40%;
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 2px;
    margin: auto 0;
}
.header .mobileMenu .menu .menuLeft .menuTabs{
    display: flex;
    flex-wrap: wrap;
}
.header .mobileMenu .menu .menuLeft .menuTabs .menuTab{
    width: 22%;
}
.header .mobileMenu .menu .menuLeft .menuTabs .menuTab.Large{
    width: 34%;
}
.header .mobileMenu .menu .menuRight .menuTabs .menuTab.Number{
    display: none;
}
.header .mobileMenu .menu .menuLeft .menuTabs .menuTab .menuArrow{
    display: inline;
}
.header .mobileMenu .menu .menuLeft .menuTabs .menuTab .menuArrow img{
    width: 10px;
    vertical-align: middle;
}
.header .mobileMenu .menu .menuRight .menuTabs .menuTab .menuArrow{
    display: inline;
}
.header .mobileMenu .menu .menuRight .menuTabs .menuTab .menuArrow img{
    width: 10px;
    vertical-align: middle;
}
.header .mobileMenu .menu .menuLeft .menuTabs .menuTab:hover a{
   border-bottom: 2px solid black;
    cursor: default;
}
.header .mobileMenu .menu .menuTabs .menuTab .bridge{
    background: transparent;
    position: absolute;
    width: 100px;
    height: 80px;
}
.header .mobileMenu .menu .menuTabs .menuTab .dropDown{
    position: absolute;
    background: #f2f2f2;
    display: none;
    width: 100%;
    left: 0;
    top: 125px;
    z-index: 2;
    height: 400px;
}
.header .mobileMenu .menu .menuTabs .menuTab:hover .dropDown{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header .mobileMenu .menu .menuTabs .menuTab .dropDown .dropDownShoe{
    width: 50%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.header .mobileMenu .menu .menuTabs .menuTab .dropDown .dropDownShoe img{
    width: 300px;
}
.header .mobileMenu .menu .menuTabs .menuTab .dropDown .dropDownShoe .shoeTitle{
    font-weight: 600;
    color: #cccccc;
    letter-spacing: 2px;
    font-size: 13px;
    margin-top: 20px;
    text-align: center;

}
.header .mobileMenu .menu .menuTabs .menuTab .dropDown .dropDownShoe:hover img{
    width: 320px;
    transition: scale(1);
    transition: .3s ease-in-out
}
.header .mobileMenu .menu .menuTabs .menuTab .dropDown .dropDownShoe:hover .shoeTitle{
    color: black;
    transition: color .5s;
}
.header .mobileMenu .menu .menuTabs .menuTab .dropDown .arrowUp{
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 350px;
}
.header .mobileMenu .menu .menuTabs .menuTab .dropDown .arrowUp img{
    width: 26px;
    opacity: .5;
}
.header .mobileMenu .menu .menuTabs .menuTab .dropDown .arrowUp:hover img{
    opacity: .8;
    transition: opacity .5s;
}
.header .mobileMenu .menu .logo{
    width: 22%;
}
.header .mobileMenu .menu .logo img{
    height: 130%;
}
.header .mobileMenu .menu .menuRight{
    width: 38%;
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 2px;
    margin: auto 0;
}
.header .mobileMenu .menu .menuRight .menuTabs{
    display: flex;
    flex-wrap: wrap;
}
.header .mobileMenu .menu .menuRight .menuTabs .menuTab{
    width: 25%;
    margin: auto 0;
}
.header .mobileMenu .menu .menuRight .menuTabs:last-child{
    margin-right: 25px;
}
.header .mobileMenu .menu .menuRight .menuTabs .menuTab a img{
    width: 10px;
    vertical-align: middle;
}

.header .mobileMenu .menu .menuRight .menuTabs .menuTab.US{
    display: flex;
    justify-content: flex-end;

}
.header .mobileMenu .menu .menuRight .menuTabs .menuTab.US img{
    width: 10px;
    margin-left: 10px;
    margin-top: 0;
    padding-right: 10px;
}
.header .mobileMenu .menu .menuRight .menuTabs .menuTab.US .menuArrow img{
    margin-top: 10px;
}
.header .mobileMenu .menu .menuRight .menuTabs .menuTab  .usIcon img{
    width: 35px;
    padding-right: 0;
    margin-top: 5px;
}
.header .mobileMenu .menu .menuRight .menuTabs .menuTab:hover a{
    border-bottom: 2px solid black;
    cursor: default;
}
.header .mobileLogo{
    display: none;
    width: 80%;
    margin-left: 10px;
    text-align: center;

}
.header .mobileLogo img{
    width: 120px;
}
.header .shoppingCart{
    width: calc(5% - 20px);
    margin: auto 0;
    padding-right:20px;
}
.header .shoppingCart img{
    width: 32px;
}
.productDetails{
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
}
.productDetails .productImage{
    display: flex;
    flex-direction: row;
    width: 65%;
}
.productDetails .productSelectedImage{
    width: calc(80% - 30px);
    padding:0 30px 0 0;
    max-width: 650px;

}
.productDetails .productSelectedImage img{
    width: 100%;
}
.productDetails .productPreviewImages{
    width: calc(20% - 80px);
    padding:0 40px;
    text-align: right;
    margin-top: 20px;
}
.productDetails .productPreviewImages .productPreviewImage{
    padding-top: 10px;
    vertical-align: baseline;
    margin: auto 0;
}
.productDetails .productPreviewImages .productPreviewImage:hover img{
    border-bottom: 2px solid black;
}
.productDetails .productPreviewImages .productPreviewImage:hover:after{
    display: block;
}
.productDetails .productPreviewImages .productPreviewImage img{
    height: 60px;
    border-bottom: 2px solid transparent;
}
.productDetails .productInformation{
    width: calc(35% - 40px);
    margin-top: 30px;
    padding:0 20px;
}
.productDetails .productInformation .productName{
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    max-width: 400px;
}
.productDetails .productInformation .productPrice{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 10px 0;
}
.productDetails .productInformation .productDescription{
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.03em;
    padding: 10px 0;
    line-height: 22px;
    max-width: 400px;
}
.productDetails .productColors{
    display: flex;
    flex-wrap: wrap;
}
.productDetails .sectionTitle{
    font-weight: 600;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    margin-top: 20px;
    width: 100%;
}
.productDetails .productColors .productColor{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
}
.productDetails .productColors .productColor.GreySole{
    background: linear-gradient(140deg, #2D2C2F 50%, #8f8e8d 50%);
}
.productDetails .productColors .productColor.BlackSole{
    background: black;
}
.productDetails .productColors .productColor.LightSole{
    background: linear-gradient(140deg, #434343 50%, #8f8e8d 50%);
}
.productDetails .productColors .productColor.CreamSole{
    background: #E8E5DA;
    box-shadow: 0 0 0 0.03em #CBC8BD;
}
.productDetails .productColors .productColor.Shade{
    background: linear-gradient(140deg, #4E5368 50%, #000000 50%);
    box-shadow: 0 0 0 0.03em #CBC8BD;
}
.productDetails .productColors .productColor.Dusk{
    background: linear-gradient(140deg, #C6A4A4 50%, #F2F0E3 50%);
    box-shadow: 0 0 0 0.03em #CBC8BD;
}
.productDetails .productColors .productColor.Chili{
    background: linear-gradient(140deg, #8F423B 50%, #F2F0E3 50%);
    box-shadow: 0 0 0 0.03em #CBC8BD;
}
.productDetails .productColors .productColor.Sage{
    background: linear-gradient(140deg, #8E826A 50%, #F2F0E3 50%);
    box-shadow: 0 0 0 0.03em #CBC8BD;
}
.productDetails .productColors .productColor.Heather{
    background: linear-gradient(140deg, #C3CBD9 50%, #F2F0E3 50%);
    box-shadow: 0 0 0 0.03em #CBC8BD;
}
.productDetails .productColors .productColor.Olive{
    background: linear-gradient(140deg, #534e42 50%, #8f8e8d 50%);
}
.productDetail .size{

}
.productDetails .size .sectionTitle {
    padding-bottom: 10px;
}
.productDetails .size .sectionTitle a{
    font-weight: 400;
    text-decoration: underline;
    font-size: 0.9em;
    margin-left: 10px;
}
.forms{
    display: flex;
    flex-wrap: wrap;
}
.forms .size{
    width: calc(50% - 5px);
    margin: 0 5px 0 0;
}
.forms .size select{
    width: calc(100% - 2px);
    height: 56px;
    padding: 0 0 0 20px;
    border-radius: 2px;
    border: 1px solid lightgray;
    outline: none;
    background: white;
    margin: 0;
    -webkit-appearance:none;
    background-image: url("..//icons/arrowDown.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 86% 51%;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 13px;
}
.forms .quantity{
    width: calc(50% - 20px);
    padding-right: 20px;
}
.forms .quantity .sectionTitle{
    padding-bottom: 10px;
}
.forms .quantity .quantityForm{
    display: flex;
    flex-wrap: wrap;
    height: 56px;
    width: 100%;
}
.forms .quantity .quantityForm button{
    -webkit-appearance:none;
    border: none;
    background: white;
}
.forms .quantity .quantityForm .minus{
    width: 20%;
    height: 56px;
}
.forms .quantity .quantityForm .minus button{
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 100%;
    width: 100%;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    padding-top: 2px;
    outline: none;
}
.forms .quantity .quantityForm .plus{
    width: 20%;
    height: 56px;

}
.forms .quantity .quantityForm .plus button{
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 100%;
    width: 100%;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    padding-top: 2px;
    outline: none;

}
.forms .quantity .quantityForm .quantityInput{
    width: 60%;
    height: 52px;
}
.forms .quantity .quantityForm .quantityInput input{
    border: none;
    -webkit-appearance:none;
    text-align: center;
    height: 100%;
    width: 100%;
    border-top:1px solid lightgray ;
    border-bottom: 1px solid lightgray;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 13px;
    color: black;
    outline: none;
}
.productDetails .sizeUpText{
    font-size: 0.7em;
    font-style: oblique;
    letter-spacing: 0.05em;
    margin: 20px 0;
}
.productDetails .addToCartButton{
    width: calc(100% - 20px);
    padding-right: 20px;
    margin-bottom: 60px;
}
.productDetails .addToCartButton button{
    width: 100%;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 3px;
    color: white;
    background: black;
    border: 2px solid black;
    height: 70px;
    outline: none;
}
.productDetails .addToCartButton:hover button{
    color: black;
    font-weight: 600;
    background: transparent;
    transition: color,background 0.6s;
}
.instagramSection{
    background: #e9e9e9;
    border-top: 1px solid #ddd;
}
.instagramSection .sectionArrow{
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 0 25px #d6d6d6;
    text-align: center;
    margin: -20px auto 0 auto;
}
.instagramSection .sectionArrow img{
    width: 20px;
    text-align: center;
    padding: 20px 0;
}
.title{
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    padding-top: 90px;
}
.instagramSection .subTitle{
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 20px 0 60px 0;
}
.instagramSection .slideShow{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
}
.instagramSection .slideShow .arrow{
    width: 10%;
    margin: auto auto;
    text-align: center;
    opacity: 0.3;
}
.instagramSection .slideShow .arrow:hover{
    opacity: 0.6;
    transition: opacity .8s;
}
.instagramSection .slideShow .slideShowImages{
    width: calc(80% - 8px);
    height: 240px;
    margin-right: 8px;
    display: flex;
    flex-wrap: wrap;
}
.instagramSection .slideShow .slideShowImages .slideShowImage{
    width: calc(20% - 10px);
    margin: 0 5px;
}
.instagramSection .slideShow .slideShowImages:last-child{
    width: calc(20% - 10px);
    margin: 0;
}
.instagramSection .slideShow .slideShowImages .slideShowImage img{
    height: 240px;
}
.instagramSection .slideShow .slideShowImages .instagramIcon{
    position: absolute;
    z-index: 2;
    top: 1310px;
}
.instagramSection .slideShow .slideShowImages .instagramIcon img{
    width: 20px;
    margin-left: 10px;
    height: 100%;
}
.benefitSection{
    background: white;
    border-top: 1px solid #ddd;
    color: #333;
    padding-bottom: 60px;
}
.benefitSection .title{
    font-size: 28px;
    padding-bottom: 60px;
}
.benefitSection .icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    margin: 0 120px;
}
.benefitSection .icons .icon{
    width: 25%;
}
.benefitSection .icons .icon .iconTitle{
    font-size: 14px;
    letter-spacing: 0.08em;
    font-weight: 500;
    margin: 20px auto;
    max-width: 200px;
    padding-bottom: 50px;

}
.banner{
    background-image: url("..//images/banner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 680px;
    background-position: center center;
}
.banner .bannerText{
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    letter-spacing: 0.03em;
    max-width: 600px;
    text-align: center;
    margin: auto auto;
    padding: 260px 0;
}
.woolSection{
    display: flex;
    flex-wrap: wrap;
    background: white;
}
.woolSection .title{
    padding-top:30px;
}
.woolSection .section .subTitle{
    text-align: center;
    padding-top: 25px;
    font-size: 15px;
    letter-spacing: 0.07em;
    font-weight: 300;
    line-height: 27px;
    max-width: 530px;
    margin: auto auto;
}
.woolSection .section{
    width: calc(50% - 60px);
    margin: auto 30px;
    padding-bottom: 80px;
}
.woolSection .section.Left .woolGif{
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}
.woolSection .section.Left img{
    width: 150px;
}
.woolSection .section.Right{
    padding-top: 50px;
    text-align: center;
}
.woolSection .section.Right img{
    width: 80%;
}
.shoeStructureSection{
    background: linear-gradient(192deg, #fff 22%, #e8eeee 20%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 40px;
}
.shoeStructureSection .shoe{
    width: 33.33%;
    margin: 0 auto;
    text-align: center;
}
.shoeStructureSection .shoe.Insole{
    margin-top: 80px;
}
.shoeStructureSection .shoe.Sole{
    margin-top: 150px;
}
.shoeStructureSection .shoe img{
    width: 65%;
}
.shoeStructureSection .shoe .title{
    text-align: left;
    margin: auto auto;
    padding-left: 75px;
    padding-top: 60px;
}
.shoeStructureSection .shoe .description{
    text-align: left;
    margin: 10px auto;
    max-width: 310px;
    font-weight: 300;
    color: #333333;
    line-height: 24px;
    letter-spacing: .05em;
    font-size: 15px;
    padding-bottom: 120px;
}
.shoeStructureSection .shoe .description li{
    padding-bottom: 20px;
}
.shoeStructureSection .shopInsoles{
    text-align: center;
}
.shoeStructureSection .shopInsoles button{
    width: 88%;
    font-family: "Poppins";
    font-size: 14px;
    letter-spacing: 3px;
    border: 2px solid black;
    height: 60px;
    outline: none;
    color: black;
    font-weight: 600;
    background: transparent;
}
.shoeStructureSection .shopInsoles button:hover{
    font-weight: 500;
    color: white;
    background: black;
    transition: color,background 0.6s;
}
.learnMoreSection{
    background-image: url("..//images/sheepBanner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    background-position: center center;

}
.learnMoreSection .subTitle{
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 200px;
}
.learnMoreSection .title{
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 30px;
    font-size: 46px;
    max-width: 710px;
    margin: auto auto;
    line-height: 56px;
}
.learnMoreSection .learnMore{
    margin: auto auto;
    width: 200px;
    padding-top: 50px;

}
.learnMoreSection .learnMore button{
    width: 100%;
    font-family: "Poppins";
    font-size: 14px;
    letter-spacing: 3px;
    border: 2px solid white;
    height: 70px;
    outline: none;
    color: white;
    font-weight: 600;
    background: transparent;
}
.learnMoreSection .learnMore button:hover{
    font-weight: 600;
    color: black;
    background: white;
    transition: color,background 0.6s;
}
.footer{
    background: #202930;
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0;
}
.footer .contactSection{
    width: calc(40% - 60px);
    margin-left: 60px;
}
.footer .contactSection .emailForm{
    width: 100%;
}
.footer .contactSection .emailForm input{
    background: transparent;
    width: 240px;
    height: 60px;
    border: 1px solid #8f9497;
    margin-top: 2px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.75em;
    letter-spacing: 0.03em;
    text-align: center;
    outline: none;
    color: #ccc;
}
.footer .contactSection .emailForm button{
    height: 64px;
    width: 110px;
    color: #202930;
    background: #8f9497;
    border: 2px solid #8f9497;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 2px;
    font-family: 'Poppins';
    margin-left: -5px;
    outline: none;
}
.footer .contactSection .socialMedia{
    width: 100%;
}
.footer .contactSection .socialMedia img{
    width: 18px;
    opacity: 0.8;
    margin-top: 30px;
    margin-right: 30px;
}
.footer .contactSection .socialMedia img:hover{
    opacity: 1;
    transition: opacity .4s;
}
.footer .contactSection .countries{
    width: 100%;
}
.footer .contactSection .countries img{
    width: 38px;
    opacity: 0.8;
    margin-top: 20px;
    margin-right: 10px;
}
.footer .contactSection .countries img:hover{
    opacity: 1;
    transition: opacity .4s;
}
.footer .footerTabs{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.footer .footerTabs .footerColumn{
    width: calc(25% - 20px);
    flex-direction: column;
    margin-left: 20px;
}
.footer .footerTabs .footerTab.Title{
    font-weight: 600;
    color: white;
    font-size: 0.8em;
    letter-spacing: 0.08em;
    padding-bottom: 5px;
}
.footer .footerTabs .footerTab{
    font-size: 0.75em;
    font-weight: 300;
    color: #ccc;
    letter-spacing: 0.04em;
    line-height: 24px;
    margin-right:10px;
}
.footer .footerTabs .footerTab:hover{
    color: white;
    transition: color .5s;
}
.copyright{
    background: #192126;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 120px;
}
.copyright img{
    width: 40px;
    opacity: 0.8;
    margin-left: 65px;
}
.copyright .copyrightText{
   color: #ccc;
    font-size: 0.7em;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-align: right;
    margin: auto 65px;
}


@media (max-width: 640px) {
    body{
        background: #f2f2f2;
    }
    .header{
        padding: 20px 0;
    }
    .header .mobileMenu{
        width: 10%;
    }
    .header .mobileMenu .menu{
        position: absolute;
        display: none;
        background: white;
        top: 75px;
        height: 670px;
        padding: 10px 0 45px 0;
    }
    .header .mobileMenu .hamburger .icon{
        display: block;
    }
    .header .mobileMenu .hamburger:hover .menu{
        display: block;
    }
    .header .mobileLogo{
        display: block;
    }
    .header .mobileMenu .menu .logo{
        display: none;
    }
    .header .shoppingCart{
        width: 5%;
        text-align: right;
        margin-right: 50px;
        padding-right:0;
        margin-top: 3px;
    }
    .header .mobileMenu .menu .menuLeft{
        width: 100%;
        font-size: 0.7em;
        font-weight: 600;
        letter-spacing: 2px;
        margin: auto 0;
    }
    .header .mobileMenu .menu .menuLeft .menuTabs{
        display: block;
        flex-wrap: nowrap;
    }
    .header .mobileMenu .menu .menuTabs img{

    }
    .header .mobileMenu .menu .menuLeft .menuTabs .menuTab{
        width: calc(100% - 40px);
        margin: 0 20px;
        border-bottom: 1px solid #e2e2e2;
        text-align: center;
    }
    .header .mobileMenu .menu .menuLeft .menuTabs .menuTab.Large{
        width: calc(100% - 40px);
        margin: 0 20px;
    }
    .header .mobileMenu .menu .menuRight .menuTabs .menuTab.Number{
        display: block;
    }
    .header .mobileMenu .menu .menuRight{
        width: 100%;
        font-size: 0.7em;
        font-weight: 600;
        letter-spacing: 2px;
        margin: auto 0;
    }
    .header .mobileMenu .menu .menuRight .menuTabs{
        display: flex;
        width: 100%;
    }
    .header .mobileMenu .menu .menuRight .menuTabs .menuTab{
        width: calc(100% - 40px);
        margin: 0 20px;
        border-bottom: 1px solid #e2e2e2;
    }
    .header .mobileMenu .menu .menuRight .menuTabs .menuTab:last-child{
        width: calc(100% - 40px);
        margin: 0 20px;
        border-bottom: none;
    }
    .header .mobileMenu .menu .menuRight .menuTabs .menuTab.US{
        display: flex;
        justify-content: center;
    }
    .header .mobileMenu .menu .menuTabs{
        display: flex;
        width: 100%;
    }
    .header .mobileMenu .menu .menuTabs .menuTab{
        padding: 30px 0;
    }
    .header .mobileMenu .menu .menuTabs .menuTab .menuArrow{
        position: absolute;
        right: 8%;
    }
    .header .mobileMenu .menu .menuTabs .menuTab .menuArrow img{
        width: 10px;
        vertical-align: middle;
    }
    .header .mobileMenu .menu .menuTabs .menuTab:hover .dropDown{
        display: none;
    }
    .header .mobileLogo{
        display: block;
    }
    .instagramSection .slideShow .slideShowImages{
        overflow: hidden;
    }
    .shoeStructureSection .shoe .title{
        padding-left: 0px;
    }

    .productDetails{
        display: flex;
        flex-wrap: wrap;
    }
    .productDetails .productImage{
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: row;
        width: 100%;
    }
    .productDetails .productPreviewImages{
        width: calc(100% - 100px);
        padding:0 50px;
        text-align: center;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .productDetails .productPreviewImages .productPreviewImage{
        width: 14.28%;
    }
    .productDetails .productSelectedImage{
        width: calc(100% - 80px);
        padding:0 40px;
        max-width: 650px;
    }
    .productDetails .productInformation {
        width: calc(65% - 40px);
        margin: 50px auto;
        padding:0 20px;
        background: white;
        border-radius: 5px;
    }
    .productDetails .productInformation .productInformationMobile{
        width: calc(100% - 40px);
        padding:0 20px;
        text-align: center;
    }
    .productDetails .productInformation .productInformationMobile .productName{
        font-size: 24px;
        font-weight: 700;
        line-height: 42px;
        max-width: 400px;
        margin-top: 40px;
    }
    .productDetails .productColors{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .productDetails .productColors .productColor{
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin: 10px 10px 10px 0;
    }
    .forms .sectionTitle{
        text-align: left;
    }
    .forms .quantity{
        width: 50%;
        padding-right: 0;
    }
    .productDetails .addToCartButton{
        width: 100%;
        padding-right: 0;

    }
    .instagramSection .subTitle{
        max-width: 400px;
        margin: 0 auto;
    }
    .instagramSection .slideShow .slideShowImages .instagramIcon{
        top: 2006px;
    }
    .instagramSection .slideShow .slideShowImages .slideShowImage.Hidden{
        display: none;
    }
    .instagramSection .slideShow .slideShowImages .slideShowImage{
        width: calc(33.33% - 10px);
        margin: 0 5px;
    }
    .benefitSection .icons{
        margin: 0 50px;
    }
    .benefitSection .icons .icon{
        width: 50%;
    }
    .benefitSection .icons .icon .iconTitle{
        font-size: 15px;
    }
    .banner .bannerText{
        font-size: 24px;
        max-width: 550px;
    }
    .woolSection{
        flex-wrap: wrap-reverse;
    }
    .woolSection .section{
        width: calc(100% - 60px);
        margin: auto 30px;
        padding-bottom: 50px;
    }
    .woolSection .section.Left{
        padding-bottom: 0;
    }
    .woolSection .section.Left .woolGif{
        padding-top: 0;
    }
    .woolSection .section.Right{
        padding-top: 80px;
    }
    .woolSection .section.Right img{
        width: 70%;
    }




    .shoeStructureSection{
        background: linear-gradient(189deg, #fff 15%, #e8eeee 7%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 10px;
    }
    .shoeStructureSection .shoe{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        width: 100%;
    }
    .shoeStructureSection .shoe .shoeImage{
        width: 50%;
    }
    .shoeStructureSection .shoe .shoeDescription{
        width: calc(50% - 60px);
        margin-top: 75px;
        padding: 0 30px;
    }
    .shoeStructureSection .shoe.Upper{
        margin-top: 160px;
    }
    .shoeStructureSection .shoe.Insole{
        margin-top: -20px;
        flex-direction: row;
    }
    .shoeStructureSection .shoe.Sole{
        margin-top: -50px;
        padding-bottom: 80px;
    }
    .shoeStructureSection .shoe img{
        width: 55%;
    }
    .shoeStructureSection .shoe .title{
        text-align: left;
        font-size: 22px;
        margin: auto auto;
        padding-left: 5px;
        padding-top: 0;
    }
    .shoeStructureSection .shoe .description{
        text-align: left;
        margin: 10px -32px;
        max-width: 310px;
        font-weight: 300;
        color: #333333;
        line-height: 24px;
        letter-spacing: .05em;
        font-size: 15px;
        padding-bottom: 120px;
    }
    .shoeStructureSection .shoe.Sole .description{
        max-width: 300px;
    }
    .learnMoreSection .title{
        font-size: 38px;
        max-width: 500px;
        line-height: 48px;
    }
}




